@import "tailwindcss";
@import "@fontsource-variable/space-grotesk";

@theme {
  --font-astro: "Space Grotesk Variable", sans-serif;

  --animate-spin-once: spin 0.5s ease-out;
}

body {
  line-height: 1.5;
  overflow-x: clip;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}
