@import "tailwindcss";
@import "@fontsource-variable/space-grotesk";

@theme {
  --font-astro: "Space Grotesk Variable", sans-serif;

  --animate-spin-once: spin 0.5s ease-out;
}

body {
  line-height: 1.5;
  overflow-x: clip;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

#control-bar {
  margin: 0 auto;
  max-width: clamp(16rem, 100%, 90rem);
  padding-inline: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 100%;
  background: currentColor;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

input[type="range"]::-moz-range-thumb {
  width: 8px;
  height: 100%;
  background: currentColor;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
