---
import "~/styles/global.css";

import Head from "~/layout/Head.astro";
---

<html lang="en">
  <Head />
  <body class="font-astro bg-black">
    <main
      class="flex h-svh items-center justify-center shadow-[inset_0_0_60px_30px_rgba(0,0,0,0.8)]">
      <slot />
    </main>
  </body>
</html>
