---
import "~/styles/global.css";

import Head from "~/layout/Head.astro";
import { Main } from "~/layout/Main";
---

<!-- ---
import { Wrapper } from "~/layout/Wrapper";
import { ControlBar } from "~/interface/ControlBar";
import { MobileControlBar } from "~/interface/mobile/MobileControlBar";
import { InfinitySpace } from "~/components/InfinitySpace";
---

<Page>
  <Wrapper client:load>
    <ControlBar client:load />
    <MobileControlBar client:load />
    <div class="relative h-full w-full overflow-hidden rounded-lg bg-black">
      <InfinitySpace client:load />
    </div>
  </Wrapper>
</Page> -->
<html lang="en">
  <Head />
  <body class="font-astro bg-black">
    <Main client:load />
  </body>
</html>
