---
import "~/styles/global.css";

import Head from "~/layout/Head.astro";
import { Main } from "~/layout/Main";
---

<html lang="en">
  <Head />
  <body class="font-astro bg-black">
    <Main client:load />
  </body>
</html>

<script>
  import spaceGroteskWoff2 from "@fontsource-variable/space-grotesk/files/space-grotesk-latin-wght-normal.woff2?url";

  import { prefetchExportFont } from "~/lib/fontCache";

  prefetchExportFont(spaceGroteskWoff2);
</script>
